---
import Layout from '../../layouts/Layout.astro'
import PlayButton from '../../components/PlayButton'
import TrackList from '../../components/TrackList'
import Record from '../../components/Record'
import { YouTube } from '@astro-community/astro-embed-youtube';
import { IconYouTube } from '../../components/icons';
const { id } = Astro.params
const courses = [
{
    id: 0,
    name: "¿Dios existe?",
    artist: "Joel Flores",
    imgUrl: "/covers/existencia.webp",
    youtubeUrl:"https://www.youtube.com/embed/bnbrXNnmOIY?si=uMQ8JPAOl_Aya-g1",
    descripcion: "En un estudio sobre las bases de la fe cristiana, no podríamos dejar fuera lo más fundamental: el tema de la existencia de Dios. Algunos filósofos/teólogos incluso defienden que la frase “Dios existe” no es correcta, ya que todo lo que “existe” en algún momento tuvo que haber llegado a existir. Sin embargo, Dios siempre existió. Por eso, lo más adecuado sería afirmar: “Dios es”. Así fue como Cristo habló de sí mismo. Él se identificó como el “Yo soy” (Éxodo 3:14; Juan 8:58)."
  },
  {
    id: 1,
    name: "¿Por qué creer en la Biblia?",
    artist: "Joel Flores",
    imgUrl: "/covers/biblia4.webp",
    youtubeUrl: "https://www.youtube.com/embed/cCdFJEajhmc?si=nILu6TdwFcdcQ-oM",
    descripcion: "La Biblia es el libro más vendido del mundo y también el más traducido de la historia. Existen muchas versiones, modelos y tamaños. Muchos se guían por ella, mientras que otros la consideran un fraude. Algunos son sus enemigos declarados y, a lo largo de la historia, muchos han intentado destruirla. Después de todo, ¿qué de especial tiene la Biblia que la vuelve tan prominente en la historia? ¿Podemos confiar en su contenido?"
  },
  {
    id: 2,
    name: "La creación",
    artist: "Joel Flores",
    imgUrl: "/covers/creacion.webp",
    youtubeUrl: "https://www.youtube.com/embed/8YmmvleypKc?si=jX9JAdaXVAdq3mae",
    descripcion: "Quiero comenzar este tema con la siguiente afirmación: nadie puede ser genuinamente cristiano si no cree que el relato de la creación (Génesis 1 y 2) apunta a un evento literal de seis días de 24 horas. Permíteme ahora explicarte la razón de esta afirmación."
  },
  {
    id: 3,
    name: "Origen del mal",
    artist: "Joel Flores",
    imgUrl: "/covers/origendelmal.webp",
    youtubeUrl: "https://www.youtube.com/embed/1Cee5T9bnho?si=i1Pdj8ISFHPRVKTj",
    descripcion: "Dios creó el planeta Tierra completamente bueno. No existía ninguna partícula del mal en ningún lugar del planeta. A lo largo del capítulo 1 de Génesis, Moisés va proporcionando detalles de lo que Dios creó cada día. Poco a poco, el planeta fue estructurándose. La fauna y la flora fueron creadas por el poder de la Palabra de Dios, y, cuando todo había concluido, Dios declaró lo siguiente: “Y vio Dios todo lo que había hecho, y he aquí que era bueno en gran manera. Y fue la tarde y la mañana el día sexto” (Génesis 1:31)."
  },
  {
    id: 4,
    name: "Plan de redención",
    artist: "Joel Flores",
    imgUrl: "/covers/cruz.jpg",
    youtubeUrl: "https://www.youtube.com/embed/EjAfI4w833w?si=vm6UMB1KYWYxnc-F",
    descripcion: "Vivimos en un periodo en que aparentemente el pecado ya no es tan pecaminoso. Las personas juegan con el pecado y hasta lo llaman “felicidad”. Sin embargo, necesitamos comprender cuán grave es el pecado y cuán distantes debemos mantenernos de él"
  },
 ];
 const course = courses[parseInt(id)]
---

<Layout title="Album">
  <section >
    
    <div
      class="container mx-auto my-5 max-w-screen-lg px-6 lg:px-0 flex flex-col items-start md:items-center md:flex-row pt-8 pb-12 overflow-hidden"
    > 
    <a href={`video/${id}`}> 

        <Record
        client:visible
        albumId={course.id.toString()}
        title={course.name}
        imageUrl={course.imgUrl}
        />
        <p>Click para ver</p>
     </a> 
      <div class="flex-1 flex flex-col justify-end pt-8">
        <a href={`video/${id}`}>
        <h1 class="text-5xl font-bold tracking-tight text-gray-900">
          {course.name}
        </h1>
        <p class="mt-3 text-3xl">{course.artist}</p>
        <div class="text-xl font-thin tracking-tight text-gray-900">
          {course.descripcion}  
        </div>
      </a>
        </div>
      </div>
      
  </section>

  
</Layout>
