---
import Layout from '../../layouts/Layout.astro'
import PlayButton from '../../components/PlayButton'
import TrackList from '../../components/TrackList'
import Record from '../../components/Record'
import { YouTube } from '@astro-community/astro-embed-youtube';
const { id } = Astro.params
const courses = [
  {
    id: 0,
    name: "¿Por qué creer en la Biblia?",
    artist: "Joel Flores",
    imgUrl: "/covers/biblia4.jpg",
    youtubeUrl: "https://www.youtube.com/embed/JnIkJAGXWKY?si=lEjxQsrzYgHv4-ZW"
  },
  {
    id: 1,
    name: "¿Dónde está Dios cuando sufrimos?",
    artist: "Joel Flores",
    imgUrl: "/covers/sufrimiento4.jpg",
    youtubeUrl: "https://www.youtube.com/embed/JnIkJAGXWKY?si=O3gYZqxrqzuLrdlD"
  },
  {
    id: 2,
    name: "Oración y fe",
    artist: "Joel Flores",
    imgUrl: "/covers/oracion4.jpg",
    youtubeUrl: "https://www.youtube.com/embed/0yeKz7sk3vE?si=PYqorV_wyH6af5eP"
  },
  {
    id: 3,
    name: "Perdón de los pecados",
    artist: "Joel Flores",
    imgUrl: "/covers/cruz.jpg",
    youtubeUrl: "https://www.youtube.com/embed/EjAfI4w833w?si=vm6UMB1KYWYxnc-F"
  },
  {
    id: 4,
    name: "La segunda venida",
    artist: "Joel Flores",
    imgUrl: "/covers/segundaVenida2.jpg",
    youtubeUrl: "https://www.youtube.com/embed/tLhY_w71YZo?si=aU9Eqdhsa54f8qPQ" 
  },
  {
    id: 5,
    name: "La ley de Dios",
    artist: "Joel Flores",
    imgUrl: "/covers/mandamientos2.jpg",
    youtubeUrl: "https://www.youtube.com/embed/9Mv_gEdR3GU?si=ZFhVTJ4gT5ol1Vvp" 
  },
  {
    id: 6,
    name: "El día de descanso",
    artist: "Joel Flores",
    imgUrl: "/covers/sabado3.jpg",
    youtubeUrl: "https://www.youtube.com/embed/Rrziyf62Dwc?si=1rOk7hoH512S8dNV" 
  },
  {
    id: 7,
    name: "El bautismo",
    artist: "Joel Flores",
    imgUrl: "/covers/bautismo2.jpg",
    youtubeUrl: "https://www.youtube.com/embed/d9aASZYqpP4?si=o7t2rgHb_e_E_c2_"
  },
 ];
 const course = courses[parseInt(id)]
---

<Layout title="Astro Records">
  <section >
    <div class=" w-full bg-black lg:px-0 flex items-center flex-wrap">
      <div class="relative flex overflow-x-hidden scrollbar-hide">
        <div class="animate-marquee whitespace-nowrap ">
          <span class="text-sm lg:text-2xl mx-7 font-thin text-white font-mono">Si querés contactarnos a través de WhatsApp +54 11 2734 1445</span>
          <span class="text-sm lg:text-2xl mx-7 font-thin text-white font-mono">Si querés contactarnos a través de Instagram <a href="https://www.instagram.com/vicenzogiordana/">@esperanza_en_la_ciudad_bs_as</a></span>
        </div>
        <div class="absolute top-0 animate-marquee2 whitespace-nowrap">
          <span class="text-sm lg:text-2xl mx-7 font-thin text-white font-mono">Si querés contactarnos a través de WhatsApp +54 11 2734 1445</span>
          <span class="text-sm lg:text-2xl mx-7 font-thin text-white font-mono">Si querés contactarnos a través de Instagram <a href="https://www.instagram.com/vicenzogiordana/">@esperanza_en_la_ciudad_bs_as</a></span>
        </div>
      </div>
    </div>
    <div
      class="container mx-auto max-w-screen-lg px-6 lg:px-0 flex flex-col items-start md:items-center md:flex-row pt-8 pb-12 overflow-hidden"
    >
      <Record
        client:visible
        albumId={course.id.toString()}
        title={course.name}
        imageUrl={course.imgUrl}
      />
      <div class="flex-1 flex flex-col justify-end pt-8">
        <h1 class="text-5xl font-bold tracking-tight text-gray-900">
          {course.name}
        </h1>
        <p class="mt-3 text-3xl">{course.artist}</p>
        
        </div>
      </div>
      <div class=" w-full bg-black lg:px-0 flex items-center flex-wrap">
        <div class="relative flex overflow-x-hidden scrollbar-hide">
          <div class="animate-marquee whitespace-nowrap ">
            <span class="text-sm lg:text-2xl mx-7 font-thin text-white font-mono">Si querés contactarnos a través de WhatsApp +54 11 2734 1445</span>
            <span class="text-sm lg:text-2xl mx-7 font-thin text-white font-mono">Si querés contactarnos a través de Instagram <a href="https://www.instagram.com/vicenzogiordana/">@esperanza_en_la_ciudad_bs_as</a></span>
          </div>
          <div class="absolute top-0 animate-marquee2 whitespace-nowrap">
            <span class="text-sm lg:text-2xl mx-7 font-thin text-white font-mono">Si querés contactarnos a través de WhatsApp +54 11 2734 1445</span>
            <span class="text-sm lg:text-2xl mx-7 font-thin text-white font-mono">Si querés contactarnos a través de Instagram <a href="https://www.instagram.com/vicenzogiordana/">@esperanza_en_la_ciudad_bs_as</a></span>
          </div>
        </div>
      </div>
  </section>

  <div class="mt-14 flex flex-column w-full">
    <div class="mx-auto w-full md:w-3/5">
      <YouTube id={course.youtubeUrl} poster={course.imgUrl}/>
    </div>
  </div>
  
</Layout>
